@import '~@/scss/GlobalVariables';

%template-container {
    padding: 0px;
    font-family: 'Avenir Next';
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
    // Tablet
    @media all and (min-width: calc(#{$mobile-width} + 1px)) and (max-width: $tablet-width) {
        padding: 20px;
    }
    // Mobile
    @media all and (max-width: $mobile-width) {
        padding: 10px;
    }
}