@import '../../SaladGlobal.scss';
#salad-deal-header {
  margin-top: 28px;
  text-align: right;
  div {
    @extend %shared-text;

    font-size: 25px;
    line-height: 34px;
    color: #28464f;
  }
}
