@import '../../SaladGlobal.scss';
#salad-confirmation-container {
  @extend %template-container;

  margin: 17px;
  .status-container {
    margin-top: 20px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
  }
  .confirmation-btn-container {
    padding-left: 0;
    margin-top: 60px;
    margin-bottom: 10px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    // Mobile
    @media all and (max-width: $mobile-width) {
      margin-top: 30px;
    }
    .button {
      text-align: center;
      border-radius: 4px;
      cursor: hand;
      width: 251px;
      height: 67px;
      font-family: 'Roboto', sans-serif !important;
      font-weight: 400;
      font-style: normal;
      font-size: 25px;
      line-height: 29px;
      // Mobile
      @media all and (max-width: $mobile-width) {
        width: 100%;
      }
    }
    .submit-btn {
      background-color: #219b87;
      margin-right: 20px;
    }
    .cancel-btn {
      background-color: #6577b8;
    }
  }
}
