@import '~@/scss/GlobalVariables';

.salad-deposit-content {
  padding: 40px;

  // Tablet
  @media all and (min-width: calc(#{$mobile-width} + 1px)) and (max-width: $tablet-width) {
    padding: 20px;
  }

  // Mobile
  @media all and (max-width: $mobile-width) {
    padding: 10px;
  }
}

.salad-deposit-form {
  padding: 20px;

  // Tablet
  @media all and (min-width: calc(#{$mobile-width} + 1px)) and (max-width: $tablet-width) {
    padding: 20px;
  }

  // Mobile
  @media all and (max-width: $mobile-width) {
    padding: 10px;
  }

  .deliveryAddress {
    @media all and (max-width: 767px) {
      margin-top: 10px !important;
    }
  }
  .deliveryAddress-label {
    margin-top: 10px !important;
    margin-bottom: 2px !important;
  }
  .deposit-header {
    font-weight: 400;
    margin-top: 1px !important;
    margin-bottom: 20px !important;
  }

  .mixAmount-label {
    font-weight: bold;
  }

  .err-msg {
    margin-bottom: 2px;
    color: $red-1;
    font-weight: 600;
  }

  .deposit-container {
    

    .submit-btn {
      width: 260px;
      height: 62px;
      border-radius: 4px;
      background-color: #05C0A5;
    }

    .deliveryAddress-input {
      padding: 13px 45px 13px 15px;
      width: 100%;
    }
  }
  .deposit-info {
    .currentAddress {
      font-weight: bold;
    }
  }
}
