@import '~@/scss/GlobalVariables';

.salad-deposit-content {
  padding: 40px;

  // Tablet
  @media all and (min-width: calc(#{$mobile-width} + 1px)) and (max-width: $tablet-width) {
    padding: 20px;
  }

  // Mobile
  @media all and (max-width: $mobile-width) {
    padding: 10px;
  }
}

.salad-deposit-form {
  padding: 20px;

  // Tablet
  @media all and (min-width: calc(#{$mobile-width} + 1px)) and (max-width: $tablet-width) {
    padding: 20px;
  }

  // Mobile
  @media all and (max-width: $mobile-width) {
    padding: 10px;
  }

  .deliveryAddress {
    @media all and (max-width: 767px) {
      margin-top: 10px !important;
    }
  }
  .deliveryAddress-label {
    margin-top: 10px !important;
    margin-bottom: 2px !important;
  }
  .deposit-header {
    font-weight: 400;
    margin-top: 1px !important;
    margin-bottom: 20px !important;
  }

  .mixAmount-label {
    font-weight: bold;
  }

  .above-min {
    margin-bottom: 2px;
    color: $red-1;
    font-weight: 600;
  }

  .deposit-container {
    .deposit-btn-container {
      margin: 10px 10px 10px;
      background-color: 'CDF2EE' !important;
      color: 'CDF2EE';
    }

    .deliveryAddress-input {
      margin: 10px 10px 10px;
    }
  }
  .deposit-info {
    .currentAddress {
      font-weight: bold;
    }
  }
}
